apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
  namespace: simple-web
  labels:
    app: webapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: webserver
  template:
    metadata:
      labels:
        app: webserver
    spec:
      containers:
        - name: my-nginx
          image: 010928196665.dkr.ecr.ap-northeast-1.amazonaws.com/my-nginx:v1.0.0
          imagePullPolicy: Always
      restartPolicy: Always

